# My First Notebook

## Introduction

Welcome to my notebook! In this notebook, we will explore Data Science with python, including key concepts, examples, and practical applications. This will help us understand how Data Science can be utilized in various scenarios.

## Data Science Languages

Here are some popular languages used in data science:

- Python
- R
- SQL
- Julia
- Scala
- Java
- JavaScript
- C++

## Data Science Libraries

Here are some popular libraries used in data science:

- **Pandas**: Data manipulation and analysis.
- **NumPy**: Numerical computing with support for large, multi-dimensional arrays and matrices.
- **Matplotlib**: Data visualization library for creating static, animated, and interactive visualizations.
- **Seaborn**: Statistical data visualization built on top of Matplotlib.
- **Scikit-learn**: Machine learning library for Python.
- **TensorFlow**: Open-source library for machine learning and deep learning.
- **Keras**: High-level neural networks API, running on top of TensorFlow.
- **Statsmodels**: Statistical modeling and hypothesis testing.

## Data Science Tools

| Tool              | Purpose                              |
|-------------------|--------------------------------------|
| Jupyter Notebook   | Interactive coding and visualization |
| RStudio           | R programming and data analysis      |
| Apache Spark      | Big data processing                   |
| Tableau           | Data visualization                    |
| GitHub            | Version control and collaboration     |
| TensorFlow        | Machine learning and deep learning    |
| Scikit-learn      | Machine learning and data mining      |
| Pandas            | Data manipulation and analysis        |

## Arithmetic Expression Examples

In this section, we will explore some basic arithmetic expressions commonly used in programming and data analysis. Arithmetic expressions allow us to perform calculations and manipulate numerical data. 

Examples of arithmetic operations include:
- Addition (`+`)
- Subtraction (`-`)
- Multiplication (`*`)
- Division (`/`)
- Modulus (`%`) - which gives the remainder of a division.

Let's see some examples of these expressions in action!

In [1]:
# Define two numbers
a = 5
b = 10

# Multiply the numbers
multiplication_result = a * b

# Add the numbers
addition_result = a + b

# Print the results
print("Multiplication Result:", multiplication_result)
print("Addition Result:", addition_result)

Multiplication Result: 50
Addition Result: 15

In [2]:
# Function to convert minutes to hours
def convert_minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

# Example: Convert 150 minutes to hours
minutes = 150
hours = convert_minutes_to_hours(minutes)

# Print the result
print(f"{minutes} minutes is equal to {hours} hours.")

150 minutes is equal to 2.5 hours.

## Objectives

The main objectives of this notebook are:

- Understand the basics of data science and its importance.
- Learn about different data science languages and libraries.
- Explore arithmetic operations and their applications in data analysis.
- Gain hands-on experience with coding in Python.
- Convert time units and perform simple calculations.

## Author

This notebook was created by Robin Chauhan.